@import url('https://fonts.googleapis.com/css?family=Quicksand');

footer{
    display: flex;
    justify-content: center;
    height: 5vh;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px;
   
    
    
    @media(max-width:640px){
        font-size: 16px; 
        text-align: center;
        padding-top: 20px;
      
    }
    @media(min-width:641px) and (max-width:1280px){
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
    }

    
    i{
        color:#64DD17;
        font-size: 40px;
        @media(max-width:640px){
            font-size: 16px; 
            
        }
        @media(min-width:641px) and (max-width:1280px){
            font-size: 18px;
            
        }
    }
}