@import url('https://fonts.googleapis.com/css?family=Quicksand');

section.summary{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    p{
        text-align: center;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;


    }
}